*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

header img {
    height: 100px;
    padding: 10px;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

form button {
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-left: 5px;
}

form input {
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid green;
    padding: 8px;
    margin-left: 5px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 3px solid green ;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}   

table td {
    text-align: center;
    font-size: 18px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(192, 192, 192, 0.219);
}

table img {
    height: 50px;
    padding: 10px;
}

.quantidade {
    padding: 8px;
    font-family: bold;
    color: white;
    background-color: green;
    border-radius: 3px;
}